= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @quotes&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".client")
        %th{scope: "col"}= t(".quote_date")
        %th{scope: "col"}= t(".due_date")
        %th{scope: "col"}= t(".amount")
        %th{scope: "col"}= t(".status")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @quotes&.each.with_index(1) do |quote, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "quote_ids[]", quote.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td
            .d-flex.align-items-center.justify-content-start
              .image.image-circle.image-mini.border.me-2
                = image_tag quote.client.avatar_url
              .d-flex.flex-column
                .row
                  .col-lg-12
                    = link_to quote.client_full_name, "javascript:void(0)", class: "me-1 fw-bold"
                    = badge_tag quote.code, {color: ::Invoika::Color.of("#006B75FF")}, {href: "javascript:void(0)"}
                %span.text-muted.text-start
                  = quote.client_email
          %td= badge_tag quote.quote_date.to_fs(:long), {color: ::Invoika::Color.of("#145DA0FF")}
          %td= quote_due_date_badge(quote)
          %td
            = number_to_currency(0.00, unit: quote.currency.symbol)
          %td= quote_status_badge(quote)
          %td.actions
            .dropstart
              = link_to "javascript:void(0)", class: "text-default", data: {bs_toggle: "dropdown"}, aria: {expanded: false} do
                = external_svg_tag("svgs/ellipsis-vertical.svg")
              %ul.dropdown-menu
                %li
                  = link_to edit_quote_path(quote), class: "dropdown-item" do
                    = external_svg_tag("svgs/pencil.svg")
                    = button_text(:edit)
                %li
                  = link_to "javascript:void(0)", class: "dropdown-item" do
                    = external_svg_tag("svgs/alarm-clock.svg")
                    = t(".convert_to_invoice")
                %li
                  = link_to "javascript:void(0)", class: "dropdown-item" do
                    = external_svg_tag("svgs/check-mark.svg")
                    = t(".accept")
                %li
                  = link_to "javascript:void(0)", class: "dropdown-item" do
                    = external_svg_tag("svgs/cancel.svg")
                    = t(".reject")
                %li
                  = link_to "javascript:void(0)", class: "dropdown-item" do
                    = external_svg_tag("svgs/link.svg")
                    = t(".quote_url")
                %li
                  = link_to quote_path(quote), class: "dropdown-item dropdown-item-danger",
                    data: {turbo_confirm: t(".delete_quote_confirmation_text"), turbo_method: :delete} do
                    = external_svg_tag("svgs/trash.svg")
                    = button_text(:delete)
      - end.empty?
        %tr
          %td.no-data{colspan: ::Quote.columns.count}
            - if current_action?("converted")
              = t(".no_converted_quotes_display")
            - elsif current_action?("draft")
              = t(".no_draft_quotes_to_display")
            - elsif current_action?("accepted")
              = t(".no_accepted_quotes_to_display")
            - else
              = t(".no_quotes_to_display")
