.col-12.col-lg-6.ms-md-auto.mt-2.mb-2
  %table.table.table-borderless.box-shadow-none
    %tbody
      %tr
        %td.fw-bold.ps-0= t(".subtotal")
        %td.text-muted.text-end.pe-0= number_to_currency(@quote.sub_total, unit: @company.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".discount")
        %td.text-muted.text-end.pe-0= number_to_currency(@quote.discount_amount, unit: @company.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".grand_total")
        %td.text-muted.text-end.pe-0= number_to_currency(@quote.grand_total, unit: @company.currency.symbol)
