= bootstrap_form_for current_user, url: profile_path, html: {enctype: "multipart/form-data"} do |form|
  .subheader
    = t(".profile_details")
  .row
    .col-sm-12.col-md-6.col-lg-4
      = form.text_field :first_name
    .col-sm-12.col-md-6.col-lg-4
      = form.text_field :last_name
  .subheader
    = t(".address")
  = form.fields_for :address, form.object.address, include_id: false do |address_form_fields|
    = render_if_exists("shared/address_form_fields", locals: {form: address_form_fields})
  .actions
    = button_tag type: :submit, class: "btn btn-primary" do
      = external_svg_tag("svgs/floppy.svg")
      %span.d-block.d-lg-none= button_text("update")
      %span.d-none.d-lg-block= button_text("update_profile")
    = link_to profile_path, class: "btn btn-secondary" do
      = external_svg_tag("svgs/arrow-left.svg")
      = button_text("go_back")
