= title(t(".title"))
.text-center
  = link_to "", root_path, class: "invoika-logo mb-2"
  %h4.fw-bold.mb-4.fw-normal= t(".welcome_sign_in_to_your_account")
= bootstrap_form_with model: resource, as: resource_name, url: session_path(resource_name),
  data: {turbo: false}, html: {class: "login-form"} do |form|
  = form.text_field :email, autofocus: true, autocomplete: "new-email", bootstrap: {floating: true, wrapper: false}
  = form.password_field :password, autocomplete: "current-password", data: {secret_reveal_target: "input"},
    bootstrap: {floating: true, append: secret_reveal_button(for_devise_views: true), wrapper: {data: {controller: "secret-reveal", secret_reveal_hidden_class: "d-none"}}}
  .d-flex.justify-content-between.align-items-center.mb-2
    - if devise_mapping.rememberable?
      = form.check_box :remember_me, bootstrap: {wrapper: false}
    = link_to t(".forget_password"), new_password_path(resource_name), class: "d-flex justify-content-end"
  = form.primary button_text("sign_in"), class: "w-100 justify-content-center"
  %p.text-muted.my-2
    = t(".sign_in_notice")
