%header.border-bottom
  .container-fluid.py-1.border-bottom
    .row.align-items-center
      .col-lg-6.col-12.d-flex.justify-content-center.justify-content-lg-start
        = render_if_exists("shared/live_clock")
      .col-lg-6.col-12.d-none.d-lg-flex.justify-content-center.justify-content-lg-end
        .list-unstyled.d-flex.align-items-center
          .d-inline-block.middle-dot-divider
            - if current_user.preferred_color_scheme.eql?(::UserPreference.color_schemes[:light])
              = link_to update_color_scheme_path, class: "text-default text-decoration-none",
                title: t(".change_to_dark_mode"), data: {turbo_method: :patch} do
                = external_svg_tag("svgs/moon.svg", height: "16px", width: "16px")
            - else
              = link_to update_color_scheme_path, class: "text-default text-decoration-none",
                title: t(".change_to_light_mode"), data: {turbo_method: :patch} do
                = external_svg_tag("svgs/sun.svg", height: "16px", width: "16px")
          .d-inline-block.middle-dot-divider{data: {controller: "screen-mode", screen_mode_hidden_class: "d-none"}}
            = link_to "javascript:void(0)", class: "text-default text-decoration-none",
              data: {action: "click->screen-mode#toggleScreenMode"} do
              = external_svg_tag("svgs/screen-full.svg", height: "16px", width: "16px", data: {screen_mode_target: "icon"})
              = external_svg_tag("svgs/screen-normal.svg", height: "16px", width: "16px", class: "d-none", data: {screen_mode_target: "icon"})
          .d-inline-block.middle-dot-divider
            = link_to "javascript:void(0)", class: "text-default text-decoration-none" do
              = external_svg_tag("svgs/bell-ringing.svg", height: "16px", width: "16px")
          .d-inline-block.middle-dot-divider
            = link_to change_locale_path, class: "text-default text-decoration-none", data: {turbo_frame: :remote_modal} do
              = t(".change_language")
  %nav.navbar.navbar-expand-lg.divider{aria: {label: t(".main_navigation")}}
    .container-fluid
      = link_to "", root_path, class: "invoika-logo"
      .d-flex.ms-auto
        = button_tag type: :button, class: "navbar-toggler collapsed", data: {bs_toggle: "collapse", bs_target: "#navbar"},
          aria: {controls: "navbar-default", expanded: false, label: t(".toggle_navigation")} do
          %span.icon-bar.top-bar.mt-0
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
      = yield
