%tr.invoice-item-form-wrapper{data: {new_record: form.object.new_record?}}
  %td
    = (form.index + 1) if form.object.persisted?
    = form.hidden_field :id, value: form.object.id
    = form.hidden_field :_destroy
  %td
    = form.select :product_id, options_for_select(::Product.select_options(current_user), form.object.product_id),
      {include_blank: t(".select_product"), skip_label: true, wrapper_class: "mb-0"}, tabindex: "-1"
  %td
    = form.number_field :quantity, skip_label: true, wrapper_class: "mb-0", min: 1, oninput: "validity.valid||(value=value.replace(/\D+/g, ''))"
  %td
    = form.number_field :unit_price, skip_label: true, wrapper_class: "mb-0", oninput: "validity.valid||(value=value.replace(/[e\+\-]/gi,''))",
      onkeypress: "if(this.value.length == 8) return false;", min: 0, step: "0.01"
  %td
    = form.select :tax_ids, options_for_select(::Tax.select_options(current_user), form.object.tax_ids),
      {include_blank: t(".select_taxes"), skip_label: true, wrapper_class: "mb-0"}, multiple: true, size: 1
  %td
    %span.text-center= number_to_currency(form.object.amount, unit: @invoice.currency.symbol)
  %td
    = button_tag :remove, class: "btn btn-sm btn-danger", data: {action: "click->nested-forms#removeAssociation"} do
      = external_svg_tag("svgs/trash.svg")
