.col-12.col-lg-6.ms-md-auto.mt-2.mb-2
  %table.table.table-borderless.box-shadow-none
    %tbody
      %tr
        %td.fw-bold.ps-0= t(".subtotal")
        %td.text-muted.text-end.pe-0= number_to_currency(@invoice.sub_total, unit: @invoice.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".discount")
        %td.text-muted.text-end.pe-0= number_to_currency(@invoice.discount_amount, unit: @invoice.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".taxable_amount")
        %td.text-muted.text-end.pe-0= number_to_currency(@invoice.taxable_amount, unit: @invoice.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".tax")
        %td.text-muted.text-end.pe-0= number_to_currency(@invoice.tax_amount, unit: @invoice.currency.symbol)
      %tr
        %td.fw-bold.ps-0= t(".grand_total")
        %td.text-muted.text-end.pe-0= number_to_currency(@invoice.grand_total, unit: @invoice.currency.symbol)
