.row{data: {controller: "state", state_url_value: states_url, state_param_value: "country_id", state_selected_value: form.object.state_id}}
  .col-sm-12.col-md-6.col-lg-6
    = form.text_field :address1
  .col-sm-12.col-md-6.col-lg-6
    = form.text_field :address2
  .col-sm-12.col-md-6.col-lg-4
    = form.select :country_id, options_for_select(::Country.select_options, form.object.country_id),
      {include_blank: t(".select_country")}, data: {state_target: "countrySelect", action: "change->state#fetchStates"}
  .col-sm-12.col-md-6.col-lg-4
    = form.select :state_id, [], {include_blank: t(".select_state")}, data: {state_target: "stateSelect"}
  .col-sm-12.col-md-6.col-lg-4
    = form.select :city_id, [],
      {include_blank: t(".select_city")}
  .col-sm-12.col-md-6.col-lg-4
    = form.text_field :postal_code
