.nav-scroller.shadow-sm.border-bottom
  %nav.nav.nav-underline{aria: {label: t(".secondary_navigation")}}
    - if can? :manage, ::Category
      = link_to active_categories_path, class: "nav-link d-flex align-items-center #{active_when(current_controller?("categories"))}" do
        = external_svg_tag("svgs/table.svg")
        = t(".categories")
    - if can? :manage, ::Tax
      = link_to active_products_path, class: "nav-link d-flex align-items-center #{active_when(current_controller?("products"))}" do
        = external_svg_tag("svgs/cube.svg")
        = t(".products")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/list.svg")
      = t(".transactions")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/credit-card.svg")
      = t(".payments")
    - if can? :manage, ::Tax
      = link_to active_taxes_path, class: "nav-link d-flex align-items-center #{active_when(current_controller?("taxes"))}" do
        = external_svg_tag("svgs/percentage.svg", height: 16, width: 16)
        = t(".taxes")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/report.svg")
      = t(".reports")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/envelope.svg")
      = t(".email_templates")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/template.svg")
      = t(".invoice_templates")
    = link_to "javascript:void(0)", class: "nav-link d-flex align-items-center" do
      = external_svg_tag("svgs/cogs.svg")
      = t(".settings")
