= bootstrap_form_for current_user, url: update_locale_path do |form|
  = form.fields_for :user_preference, include_id: false do |user_preference_form|
    = user_preference_form.select :preferred_locale, selectable_locales_with_translation_level(2),
      {include_blank: t(".select_preferred_language")}, data: {controller: "autofocus"}
  .modal-actions
    = button_tag type: :submit, class: "btn btn-primary" do
      = external_svg_tag("svgs/floppy.svg")
      %span.d-block.d-lg-none= button_text("update")
      %span.d-none.d-lg-block= button_text("update_language")
    = button_tag type: :button, class: "btn btn-secondary", data: {action: "click->remote-modal#hide"} do
      = external_svg_tag("svgs/cancel.svg")
      = button_text("cancel")
