= bootstrap_form_with model: current_user, url: user_preference_path, html: {enctype: "multipart/form-data"} do |form|
  = form.fields_for :user_preference, include_id: false do |user_preference_form|
    .row
      .col-sm-12.col-md-6.col-lg-4
        = user_preference_form.select :preferred_locale, selectable_locales_with_translation_level(2),
          {include_blank: t(".select_preferred_language")}, data: {controller: "autofocus"}
      .col-sm-12.col-md-6.col-lg-4
        = user_preference_form.collection_radio_buttons :preferred_color_scheme, enum_options_for_select(::UserPreference, :color_schemes), :last, :first,
          {checked: user_preference_form.object.preferred_color_scheme, bootstrap: {inline: true}}
      .col-sm-12.col-md-6.col-lg-4
        = user_preference_form.time_zone_select :preferred_time_zone, ActiveSupport::TimeZone.us_zones, include_blank: t(".select_time_zone")
      .col-sm-12.col-md-6.col-lg-4
        = user_preference_form.check_box :enable_notifications, bootstrap: {switch: true}
  .actions
    = form.primary do
      = external_svg_tag("svgs/floppy.svg")
      %span.d-block.d-lg-none= button_text("update")
      %span.d-none.d-lg-block= button_text("update_preferences")
    = link_to user_preference_path, class: "btn btn-secondary" do
      = external_svg_tag("svgs/cancel.svg")
      = button_text("cancel")
