= bootstrap_form_with model: @tax, url: tax_path(@tax), method: :delete, data: {controller: "confirmation-text-validation"} do |form|
  = form.text_field :name, value: params.dig(:tax, :name), bootstrap: {skip_label: true},
    data: {pattern: pattern(@tax.name), confirmation_text_validation_target: "confirmationText", action: "input->confirmation-text-validation#validateConfirmationText"}
  .modal-actions
    - if policy(@tax).destroy?
      = form.danger data: {confirmation_text_validation_target: "confirmButton", turbo_method: :delete} do
        = external_svg_tag("svgs/trash.svg")
        = button_text("yes_delete")
    = button_tag type: :button, class: "btn btn-secondary", data: {action: "click->remote-modal#hide"} do
      = external_svg_tag("svgs/cancel.svg")
      = button_text("no_cancel")
