= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @categories&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".products_count")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @categories&.each.with_index(1) do |category, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "category_ids[]", category.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= category.name
          %td= category.products_count
          %td.actions
            - if policy(category).update?
              = link_to external_svg_tag("svgs/pencil.svg"), edit_category_path(category), class: "btn btn-sm btn-secondary",
                data: {turbo_frame: :remote_modal}
            - if category.is_active? && policy(category).deactivate?
              = link_to external_svg_tag("svgs/cancel.svg"), deactivate_category_path(category), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".deactivate_category_confirmation_text", category_name: category.name), turbo_method: :patch}
            - if !category.is_active? && policy(category).activate?
              = link_to external_svg_tag("svgs/check-mark.svg"), activate_category_path(category), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".activate_category_confirmation_text", category_name: category.name), turbo_method: :patch}
            - if policy(category).destroy?
              = link_to external_svg_tag("svgs/trash.svg"), confirm_destroy_category_path(category), class: "btn btn-sm btn-danger",
                data: {turbo_frame: :remote_modal}
      - end.empty?
        %tr
          %td.no-data{colspan: ::Category.columns.count}
            - if current_action?("active")
              = t(".no_active_categories_to_display")
            - elsif current_action?("inactive")
              = t(".no_inactive_categories_to_display")
            - else
              = t(".no_categories_to_display")
