= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @categories&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".products_count")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @categories&.each.with_index(1) do |category, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "category_ids[]", category.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= category.name
          %td= category.products_count
          %td.actions
            = link_to "javascript:void(0)", class: "text-default", data: {bs_toggle: "dropdown"}, aria: {expanded: false} do
              = external_svg_tag("svgs/ellipsis-vertical.svg")
            %ul.dropdown-menu
              - if policy(category).update?
                %li
                  = link_to edit_category_path(category), class: "dropdown-item" do
                    = external_svg_tag("svgs/pencil.svg")
                    = button_text("edit")
              - if category.is_active? && policy(category).deactivate?
                %li
                  = link_to confirm_deactivate_category_path(category), class: "dropdown-item", data: {turbo_frame: :remote_modal} do
                    = external_svg_tag("svgs/archive.svg")
                    = button_text("deactivate")
              - if !category.is_active? && policy(category).activate?
                %li
                  = link_to confirm_activate_category_path(category), class: "dropdown-item", data: {turbo_frame: :remote_modal} do
                    = external_svg_tag("svgs/unarchive.svg")
                    = button_text("activate")
              - if policy(category).destroy?
                %li
                  = link_to confirm_destroy_category_path(category), class: "dropdown-item dropdown-item-danger", data: {turbo_frame: :remote_modal} do
                    = external_svg_tag("svgs/trash.svg")
                    = button_text("delete")
      - end.empty?
        %tr
          %td.no-data{colspan: ::Category.columns.count}
            - if current_action?("active")
              = t(".no_active_categories_to_display")
            - elsif current_action?("inactive")
              = t(".no_inactive_categories_to_display")
            - else
              = t(".no_categories_to_display")
