= bootstrap_form_with model: @category do |form|
  = form.text_field :name, data: {controller: "autofocus"}
  = form.check_box :is_active, bootstrap: {switch: true}
  .modal-actions
    - if @category.new_record? && policy(@category).create?
      = form.primary do
        = external_svg_tag("svgs/plus.svg")
        %span.d-block.d-lg-none= button_text("create")
        %span.d-none.d-lg-block= button_text("create_category")
    - if @category.persisted? && policy(@category).update?
      = form.primary do
        = external_svg_tag("svgs/floppy.svg")
        %span.d-block.d-lg-none= button_text("update")
        %span.d-none.d-lg-block= button_text("update_category")
    = button_tag type: :button, class: "btn btn-secondary", data: {action: "click->remote-modal#hide"} do
      = external_svg_tag("svgs/cancel.svg")
      = button_text("cancel")
