%p.mb-2= t(".deactivate_product_confirmation_text", product_name: "<strong>#{@product.name}</strong>").html_safe
.modal-actions
  - if policy(@product).deactivate?
    = link_to deactivate_product_path(@product), class: "btn btn-primary",
      data: {turbo_method: :patch} do
      = external_svg_tag("svgs/archive.svg")
      = button_text("yes_deactivate")
  = button_tag type: :button, class: "btn btn-secondary", data: {action: "click->remote-modal#hide"} do
    = external_svg_tag("svgs/cancel.svg")
    = button_text("no_cancel")
