= bootstrap_form_with model: @product, data: {controller: "image-preview"} do |form|
  .row
    .col-sm-12.col-md-12.col-lg-4
      = form.text_field :name, data: {controller: "autofocus"}
    .col-sm-12.col-md-6.col-lg-4
      = form.select :category_id, options_for_select(::Category.select_options(current_user), form.object.category_id),
        {include_blank: t(".select_category")}
    .col-sm-12.col-md-6.col-lg-4{data: {controller: "random-string-generator"}}
      = form.text_field :code, data: {random_string_generator_target: "field"},
        bootstrap: {append: generate_random_code_button}
    .col-12
      = form.text_area :description
    .col-sm-12.col-md-6.col-lg-4
      = form.number_field :unit_price, bootstrap: {append: @company.currency.symbol}
    .col-sm-12.col-md-6.col-lg-4
      = form.number_field :sell_price, bootstrap: {append: @company.currency.symbol}
    .col-12
      = form.check_box :is_active, bootstrap: {switch: true}
    .col-sm-12.col-md-6.col-lg-4
      = form.label :image, t(".guidelines_for_image"), class: "form-label"
      = render_if_exists("shared/image_upload_file_guidelines", locals: {object: ::Product})
      - if form.object.image.attached? && form.object.persisted?
        = form.hidden_field :image, value: form.object.image.signed_id
      = form.file_field :image, accept: "image/jpeg,image/png", data: {action: "change->image-preview#readURL"}
    .col-sm-12.col-md-6.col-lg-4
      = form.label :preview, t(".preview"), class: "form-label"
      = image_tag form.object.image_url, class: "image-preview", data: {image_preview_target: "output"}
      - if form.object.image.attached? && form.object.valid_attribute?(:image)
        %ul.list-unstyled.d-flex.align-items-center
          %li.d-inline-block.middle-dot-divider
            = form.object.image.blob.filename
          - if policy(@product).remove_image?
            %li.d-inline-block.middle-dot-divider
              = link_to t(".remove_image"), remove_image_product_path(form.object), data: {turbo_method: :delete, turbo_confirm: t(".remove_image_confirmation_text")}
  .actions
    - if form.object.new_record? && policy(@product).create?
      = form.primary do
        = external_svg_tag("svgs/plus.svg")
        %span.d-block.d-lg-none= button_text("create")
        %span.d-none.d-lg-block= button_text("create_product")
    - if form.object.persisted? && policy(@product).update?
      = form.primary do
        = external_svg_tag("svgs/floppy.svg")
        %span.d-block.d-lg-none= button_text("update")
        %span.d-none.d-lg-block= button_text("update_product")
    = link_to products_path, class: "btn btn-secondary" do
      = external_svg_tag("svgs/cancel.svg")
      = button_text("cancel")
